<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.FarmPe.Oxkart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permisssion.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>



    <application
        android:name="com.FarmPe.Oxkart.Activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">



        <activity
            android:name="com.FarmPe.Oxkart.Activity.ActivitySelectLang"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB3KUa9_XplyH7iI2CIq3WcGisxvivwhOU" />


        <activity
            android:name="com.FarmPe.Oxkart.Activity.LoginActivity_new"
            android:screenOrientation="portrait" />



        <activity
            android:name="com.FarmPe.Oxkart.Activity.ForgotPasswordNew"
            android:screenOrientation="portrait" />


          <activity
            android:name="com.FarmPe.Oxkart.Activity.HomePage_With_Bottom_Navigation"
            android:screenOrientation="portrait" />


         <activity
            android:name="com.FarmPe.Oxkart.Activity.EnterOTP"
            android:screenOrientation="portrait" />


          <activity
            android:name="com.FarmPe.Oxkart.Activity.Thank_U_New"
            android:screenOrientation="portrait" />



        <activity
            android:name="com.FarmPe.Oxkart.Activity.R_U_Farmer_Activity"
            android:screenOrientation="portrait" />




        <activity
            android:name="com.FarmPe.Oxkart.Activity.Service_Main_Activity"
            android:screenOrientation="portrait" />


           <activity
            android:name="com.FarmPe.Oxkart.Activity.LandingPageActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />


            <activity
             android:name="com.FarmPe.Oxkart.Activity.SelectLanguageActivity"
             android:resizeableActivity="false"
             android:screenOrientation="portrait" />



        <activity
            android:name="com.FarmPe.Oxkart.Activity.ResetPasswordNew"
            android:screenOrientation="portrait" />



           <activity
            android:name="com.FarmPe.Oxkart.Activity.Verification_Activity"
            android:screenOrientation="portrait" />




        <activity
            android:name="com.FarmPe.Oxkart.Activity.GetLocationActivity"
            android:screenOrientation="portrait" />



        <activity
            android:name="com.FarmPe.Oxkart.Activity.New_OTP_Page_Activity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.FarmPe.Oxkart.Activity.New_Login_Activity2"
            android:screenOrientation="portrait" />


        <activity
               android:name="com.FarmPe.Oxkart.Activity.Slider_Activity"
               android:screenOrientation="portrait" />



        <activity
               android:name="com.FarmPe.Oxkart.Activity.SignUpActivity"
               android:screenOrientation="portrait" />



           <activity
            android:name="com.FarmPe.Oxkart.Activity.FirmShopDetailsActivity"
            android:screenOrientation="portrait" />


              <activity
               android:name="com.FarmPe.Oxkart.Activity.Privacy_Activity"
               android:screenOrientation="portrait" />

                <service
                android:name="com.FarmPe.Oxkart.GpsService"
               />


            <receiver
             android:name="com.FarmPe.Oxkart.Activity.ConnectivityReceiver"
             android:enabled="true">

            <intent-filter>
                <action android:name="android." />
            </intent-filter>
        </receiver> <!-- Firebase Notifications -->


        <service android:name="com.FarmPe.Oxkart.Activity.Service_Activity" />

        <service android:name="com.FarmPe.Oxkart.MyFirebaseMessagingService">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service android:name="com.FarmPe.Oxkart.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>


</manifest>